/* Colour Palatte 
#4ABDAC
#FCGA1A
#F7B733
#DFDCE3 
*/

body, html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Full Page Styles - JOE */


/* Nav Bar styles  - MONIKA */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.navbar-ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    background-color: #F7B733;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-ul > li {
    background-color: #4ABDAC;
    padding: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    font-size: 1rem;
    min-width: 5vw;
    text-align: center;

}
.navbar-ul > li > a {
    text-decoration: none;
}
.navbar-ul > li > a:link {
    color: #DFDCE3;
}
.navbar-ul > li > a:active {
    color: #DFDCE3 ;
}
.navbar-ul > li > a:visited {
    color: #DFDCE3 ;
}
.navbar-ul > li > a:hover {
    color: #DFDCE3;
}





/* Form Styles - JESSIE */



/* Want to contribute partial styles - ARTEMIS */



/* Footer styles  - ARTEMIS*/

.footer {
    background-color: bisque;
}


