/* Colour Palatte 
#GABDAC
#FCGA1A
#F7B733
#DFDCE3 
*/

body, html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Full Page Styles - JOE */


/* Nav Bar styles  - MONIKA */



/* Form Styles - JESSIE */



/* Want to contribute partial styles - ARTEMIS */



/* Footer styles  - ARTEMIS*/

.footer {
    background-color: bisque;
}


