<form action="/add-article/new" method="POST">
  <h1>New Article</h1>
  <label for="title">Article title</label>
  <input type="text" name="title" id="article_title_input" autocomplete="off">
  <label for="article_link_input">Article URL:</label>
  <input type="text" name="article_url" id="article_link_input" autocomplete="off">
  <label for="topic_input">Topic:</label>
  <input type="text" name="topic" id="topic_input" list="topic-list" autocomplete="off">
  <datalist id="topic-list">
    {{#each topic}}
    <option value="{{this.topic_name}}">{{this.topic_name}}</option>
    {{/each}}
  </datalist>
  <label for="description_input">Your description and comments:</label>
  <input type="text" name="description" id="description_input" autocomplete="off">
  <label for="keywords_input">Keywords:</label>
  <input type="text" name="keywords" id="keywords_input" autocomplete="off">
  <label for="img_url">Article Image URL:</label>
  <input type="text" name="img_url" id="img_url" autocomplete="off">
  <button type="submit">Submit</button>
</form>