<section class="main_container">
    <header class="home-header">
        <h1 class="main_title">Topics</h1>
        <h2>Choose the topic to see all articles.</h2>
    </header>
    <div class='topic-container'>
        {{#each topics}}

        <button class="home" id='id-{{this.id}}' onclick="window.location.href='/topic/{{this.topic_name}}'">
            <h3>{{this.topic_name}}</h3>
        </button>
        {{/each}}
    </div>
</section>