<form action="/login-check" method="POST">
  <h1>Log in</h1>
  <label for="name">Userame:</label>
  <input type="text" name="name" id="name" required>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required>
  <button type="submit">Log in</button>
  <p>Not registered?
    <a href="/sign-up">Click here to sign up</a>
  </p>
</form>