<!DOCTYPE html>
<html lang="en">

{{!-- HEAD CONTENT TO GO HERE --}}

<body>

  {{!-- HEADER CONTENT TO GO HERE --}}

  <main class="main">

    {{{ body }}} {{!-- BODY TO GO HERE --}}

  </main>

  {{!-- FOOTER CONTENT TO GO HERE --}} {{!-- PUBLIC SCRIPT TO GO HERE --}}

</body>

</html>